{% extends "index.html" %}

{% block content %}
<div class="container">

   <h1 class="my-4">
       {{ movie.title }}
   </h1>


   <div class="row">
     <div class="col-md-8">
       <img class="img-fluid" src="{{ tmdb_image_url(movie.backdrop_path, "w780") }}" alt="">
     </div>
     <div class="col-md-4">
         <h3>{{ movie.tagline }}</h3>
       <p>
           {{ movie.overview}}
       </p>
       <dl>
           <dt>Budget</dt>
           <dd>{{ movie.budget }}</dd>
           <dt>Genre</dt>
           <dd>{% for genre in movie.genres %}{{ genre.name }}, {% endfor %}</dd>
         </dl>
     </div>
   </div>
    <h3 class="my-4">Cast</h3>
   <div class="row">
       <div class="col-md-3 col-sm-6 mb-4">
           <a href="#">
               <figure class="figure">
                   <img src="https://placehold.it/185x278" class="figure-img img-fluid rounded" alt="actor">
                   <figcaption class="figure-caption">John Doe</figcaption>
               </figure>
           </a>
       </div>
   </div>
 </div>

{% endblock %}